html, body {
    margin: 0;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: lightgrey;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: lightgreen;
    padding: 10px 20px 0px;
}
.header {
    background-color: greenyellow;
    min-height: 150px;
}
.content {
    align-items: center;
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: lightgreen;
    min-height: 150px;
}